<header>
    <nav id="header_style">
        <h1>Codeial</h1>
        <span id="sign_buttons">
            <button type="button">
                <a href="http://localhost:8000/users/signin">
                    Sign In
                </a> 
            </button> 
            <button type="button">
                <a href="http://localhost:8000/users/signup">
                    Sign Up
                </a>
            </button> 
        </span>
    </nav>
</header>