<header>
    <nav id="header_style">
        <h1>
            <a class="neutral_a" href="http://localhost:8000/">
                Codeial
            </a>
        </h1>
        <span id="sign_buttons">

            <% if (locals.user) { %>
                <button type="button">
                    <a class="neutral_a" href="http://localhost:8000/users/profile/<%= locals.user.id %> ">
                        Profile
                    </a>
                </button>
                <button type="button">
                    <a class="neutral_a" href="http://localhost:8000/users/signout">
                        Sign Out
                    </a>
                </button>
            <% } else { %>
                <button type="button">
                    <a class="neutral_a" href="http://localhost:8000/users/signin">
                        Sign In
                    </a>
                </button>
                <button type="button">
                    <a class="neutral_a" href="http://localhost:8000/users/signup">
                        Sign Up
                    </a>
                </button>
            <% } %> 

        </span>
    </nav>
</header>