<link rel="stylesheet" href="/css/home.css">
<h1>Home Page for Codeial</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/createposts" id="new-post-form" method="post">
        <textarea name="post_content" id="" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>


<script src="/js/home.js"></script>