<link rel="stylesheet" href="/css/signin.css">

<h1>Sign In</h1>

<form action="/users/create-session" method="post">
    <input type="text" name="name" placeholder="Name..." id="name" required>
    <input type="email" name="email" placeholder="Email..." id="email" required>
    <input type="password" placeholder="Password..." name="password" required>
    <br>
    <input type="submit" value="Sign In">
</form>